header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

button {
  margin-right: 20px;
}

.title-container {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: black;
}

.title {
  font-size: 36px;
  font-weight: bold;
  margin: 3px;
}

.slogan {
  font-size: 13px;
  font-style: italic;
  font-family: 'Pacifico', cursive;
  color: #ffffff;
  margin: 5px 0 0 65px;
}

.github-icon {
  display: flex;
  align-items: center;
}

.github-icon a {
  text-decoration: none;
  color: inherit;
}

.github-icon img {
  width: 32px;
  height: 32px;
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 10px;
  text-decoration: none;
}

.right-side {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.button-left {
  display: flex;
  justify-content: flex-start;
  margin-left: 8px;
}

.button-right {
  margin-left: 15px;
}

.left-side {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.theme-control {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 25px;
}

.theme-icon {
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}