<header>
  <div class="left-side">
    <button mat-mini-fab color="secondary" (click)="toggleNavigationBar()">
      <mat-icon>menu</mat-icon>
    </button>
    <a class="button" mat-raised-button color="secondary" [href]="githubLink" target="_blank">
      <mat-icon>code</mat-icon>
      <span>GitHub</span>
    </a>
    <div class="theme-control">
      <mat-slide-toggle [checked]="isDarkTheme" (click)="toggleTheme()"></mat-slide-toggle>
      <mat-icon *ngIf="isDarkTheme" class="theme-icon">bedtime</mat-icon>
      <mat-icon *ngIf="!isDarkTheme" class="theme-icon">brightness_5</mat-icon>
    </div>
  </div>
  <a class="title-container" routerLink="/">
    <p class="title">{{ appName }}</p>
    <span class="slogan">Your financial asset monitor</span>
  </a>
  <div class="right-side">
    <div *ngIf="!isAuthenticated()">
      <a *ngFor="let section of sections" class="button-right" mat-raised-button color="primary" [routerLink]="section.path">
        <mat-icon>{{ section.icon }}</mat-icon>
        <span>{{ section.name }}</span>
      </a>
    </div>
    <a *ngIf="isAuthenticated()" class="button-right" mat-mini-fab color="primary" routerLink="/" (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
    </a>
  </div>
  </header>
