<header>
  <div class="left-side">
    <button mat-mini-fab color="secondary" (click)="menuToggle.emit()">
      <mat-icon>menu</mat-icon>
    </button>
    <a class="button" mat-raised-button color="secondary" [href]="githubLink" target="_blank">
      <mat-icon>code</mat-icon>
      <span>GitHub</span>
    </a>
  </div>
  <a class="title-container" href="/">
    <p class="title">{{ appName }}</p>
    <span class="slogan">Your financial asset monitor</span>
  </a>
  <div class="right-side">
    <a *ngFor="let section of sections" class="button" mat-raised-button color="primary" [href]="section.path">
      <mat-icon>{{ section.icon }}</mat-icon>
      <span>{{ section.name }}</span>
    </a>
  </div>
</header>
