.container {
  display: flex;
  flex-direction: column;
  justify-content: top;
}

.title {
  font-weight: 500;
  border-bottom: 1px solid rgb(100, 100, 100);
}

.section {
  margin-bottom: 30px;
}

.buttons-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.button {
  margin-left: 15px;
}

.block-button {
  background-color: darkred;
}

.section-button {
  margin: 0px 10px 10px;
  width: 36px;
  height: 36px;
}

.edit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}