<div class="container" *ngIf="user">
  <a class="back-button" mat-mini-fab color="primary" routerLink="/users">
    <mat-icon>arrow_back</mat-icon>
  </a>
  <div class="section">
    <h1 class="title">Account details</h1>
    <app-property-grid [fields]="accountFields"></app-property-grid>
  </div>
  <div class="section">
    <h1 class="title">Role</h1>
    <app-property-grid [fields]="roleFields"></app-property-grid>
  </div>
  <div class="section">
    <h1 class="title">Subscription</h1>
    <app-property-grid [fields]="subscriptionFields"></app-property-grid>
  </div>
</div>
<app-spinner [isVisible]="!user"></app-spinner>