<div class="container" *ngIf="user">
  <div class="buttons-bar">
    <button mat-mini-fab color="secondary" routerLink="/users">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <div>
      <button mat-raised-button color="primary" class="button" (click)="openSetSubscriptionDialog()">
        <mat-icon>edit</mat-icon>
        <span>Set Subscription</span>
      </button>
      <button mat-raised-button color="primary" class="button" (click)="openSetRoleDialog()">
        <mat-icon>edit</mat-icon>
        <span>Set Role</span>
      </button>
      <button *ngIf="user.isActive" mat-raised-button color="primary" class="button block-button" [disabled]="isCurrentUserAccount || !isSystemAdministrator" (click)="block()">
        <mat-icon>person_off</mat-icon>
        <span>Block</span>
      </button>
      <button *ngIf="!user.isActive" mat-raised-button color="primary" class="button block-button" [disabled]="isCurrentUserAccount || !isSystemAdministrator" (click)="unblock()">
        <mat-icon>person</mat-icon>
        <span>Unblock</span>
      </button>
    </div>
  </div>
  <div class="section">
    <h1 class="title">Account details</h1>
    <app-property-grid [fields]="accountFields"></app-property-grid>
  </div>
  <div class="section">
    <h1 class="title">Role</h1>
    <app-property-grid [fields]="roleFields"></app-property-grid>
  </div>
  <div class="section">
    <h1 class="title">Subscription</h1>
    <app-property-grid [fields]="subscriptionFields"></app-property-grid>
  </div>
</div>
<app-spinner [isVisible]="!user"></app-spinner>

