<div class="container" *ngIf="user">
  <div class="section">
    <h2 class="title">Account details</h2>
    <app-property-grid [fields]="accountFields"></app-property-grid>
  </div>
  <div class="section" *ngIf="advisor">
    <h2 class="title edit">
      Advisor profile details
      <button mat-mini-fab color="primary" class="section-button" (click)="openUpdateAdvisorDialog()">
        <mat-icon>edit</mat-icon>
      </button>
    </h2>
    <app-property-grid  [fields]="advisorFields"></app-property-grid>
  </div>
  <div class="section">
    <h2 class="title">Delete account</h2>
    <div class="delete-description">Once you delete your account, there is no going back. Please be certain.</div>
    <form class="form" [formGroup]="deleteAccountForm" (ngSubmit)="deleteAccount()" novalidate>
      <mat-form-field class="password-field">
        <input matInput type="password" formControlName="password">
        <mat-label>Password</mat-label>
        <mat-error *ngIf="password?.hasError('required')">Password is required</mat-error>
      </mat-form-field>
      <button mat-button [disabled]="!deleteAccountForm.valid" mat-raised-button color="primary" class="delete-button">Delete account</button>
    </form>
  </div>
</div>
<app-spinner [isVisible]="!user"></app-spinner>
