<div class="container">
  <a class="close-icon" mat-icon-button color="primary" (click)="close()">
    <mat-icon>close</mat-icon>
  </a>
  <h1 class="title">Set system role</h1>
    <mat-form-field class="role-field">
      <mat-label>Role</mat-label>
      <mat-select [(value)]="selectedRole">
        <mat-option *ngFor="let role of systemRoles" [value]="role">{{ role }}</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="buttons">
      <button mat-raised-button class="close-button" (click)="close()" color="secondary">Close</button>
      <button mat-raised-button class="submit-button" (click)="save()" color="primary" >Save</button>
    </div>
</div>