:host {
  display: block;
  padding: 10px;
}

.content-container {
  min-height: 100vh;
  box-sizing: border-box;
  padding: 10px;
  min-width: 250px;
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 10px;
  text-decoration: none;
}

.nav-link mat-icon {
  margin-right: 15px;
}

.nav-link.active {
  background-color: #d1d0d05a;
}

::ng-deep .mat-sidenav {
  bottom: initial;
}