.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: 'Lora', sans-serif;
}

app-header-section {
  width: 100%;
}

.content-wrapper {
  display: flex;
  flex: 1;
}

app-navigation-section {
  border-right: 2px solid #dee2e6;
  max-height: 100vh;
}

.content {
  padding: 30px;
  width: -webkit-fill-available;
}