.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: 'Lora', sans-serif;
}

app-header-section {
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
  width: 100%;
}

.content-wrapper {
  display: flex;
  flex: 1;
}

app-navigation-section {
  background-color: #f1f3f5;
  border-right: 1px solid #dee2e6;
  max-height: 100vh;
}

.content {
  padding: 30px;
}