:host {
  display: block;
  padding: 10px;
}

.content-container {
  min-height: 100vh;
  box-sizing: border-box;
  padding: 10px;
}

.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
  text-decoration: none;
}

.nav-link.active {
  background-color: #dcdcdc;
}