.table {
  width: 100%;
}

.mat-column-id {
  width: 400px;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}

.buttons {
  margin: 30px 0 20px 0;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
}