header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 20px 20px 20px;
}

.title {
  font-size: 36px;
  font-weight: bold;
  margin: 3px;
}

.slogan {
  font-size: 13px;
  font-style: italic;
  font-family: 'Pacifico', cursive;
  color: #555;
  margin: 5px 0 0 65px;
}

.github-icon {
  display: flex;
  align-items: center;
}

.github-icon a {
  text-decoration: none;
  color: inherit;
}

.github-icon img {
  width: 32px;
  height: 32px;
}

.title-container {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: black;
}